body{
  background-color:#DA70D6;
  text-align:center;
  font-style:normal;
  font-family:Cambria;
  margin:0 auto ;

  border:0;
}

h1{
  font-size:20;
  font-family:Algerian;
  display:block;
  margin:0 0 0 0;
  padding:0 0 0 0;
  border: 0;


}
h2{
  font-family:Lucida Calligraphy;
}
